<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>{{titulo_page}}</title>
		{{metas}}
		<script src="{{domain_statics}}/js/dev.min.js"></script>
		<script src="{{domain_statics}}/js/site.min.js" defer="defer" async="async"></script>
		<link rel="stylesheet" href="{{domain_statics}}/css/site.min.css">
		<script src="{{domain_statics}}/js/ckeditor.min.js"></script>
	</head>
	<body>
		<header class="header-mobile no-pc">
			<div class="inline-block calc-l-8 text-left align-middle">LOGO</div>
			<div class="inline-block calc-r-8 text-right align-middle"><button onclick="adminToggleMenu();" type="button" class="b b-secondary white">X</button></div>
		</header>

		<nav class="content-navigation content_m content_h content no-mobile">
			<ul class="navigation">
				<a href="/"><li>INÍCIO</li></a>
				<a href="/publicacao"><li>PUBLICAÇÃO</li></a>
				<a href="/visitante"><li>VISITANTE</li></a>
				<a href="/configuracao"><li>CONFIGURACAO</li></a>
				<!-- <a href="/traducao"><li>TRADUÇÃO</li></a> -->
				<a href="/tv"><li>TV</li></a>
				<a data-href="false" onclick="logout(this);"><li>LOGOUT</li></a>
			</ul>
		</nav>

		<nav id="content_navigation" class="content-navigation-mobile content_m no-pc">
			<div class="inline-block calc-l-8 text-left"><h2>MENU</h2></div>
			<div class="inline-block calc-r-8 text-right"><button onclick="adminToggleMenu();" type="button" class="b b-primary">Fechar</button></div>
			<hr />
			<div class="site-space-1"></div>
			<ul class="navigation-mobile">
				<a href="/"><li>INÍCIO</li></a>
				<a href="/publicacao"><li>PUBLICAÇÃO</li></a>
				<a href="/visitante"><li>VISITANTE</li></a>
				<a href="/configuracao"><li>CONFIGURACAO</li></a>
				<!-- <a href="/traducao"><li>TRADUÇÃO</li></a> -->
				<a href="/tv"><li>TV</li></a>
				<a data-href="false" onclick="logout(this);"><li>LOGOUT</li></a>
			</ul>
		</nav>
		<main id="content">
			{{view}}
		</main>
		<div id="push-loader"></div>
		<!-- <footer>
			<h3>Contato</h3>
			<p>(54) 9 2000-6794</p>
			<p>contato@devnux.com.br</p>
			<p class="text-center">Desenvolvido por DevNux</p>
		</footer> -->
		<div id="feed_back" class="feed_back"></div>
	</body>
</html>
<script>
	window.adminToggleMenu = e => {

		if(content_navigation.classList.contains('navigation-mobile-open')){
			adminCloseMenu();
		}else{
			adminOpenMenu();
		}
	};

	window.adminCloseMenu = e => {
		content_navigation.classList.remove('navigation-mobile-open');
		document.body.style.overflow = null;
	};
	window.adminOpenMenu = e => {
		content_navigation.classList.add('navigation-mobile-open');
		document.body.style.overflow = 'hidden';
	};

	window.logout = async btn => {
		
		var logout = dev.ajax('/login/logout', {
			logout: 'logout'
		});

		logout.then(res => {

			console.log(res);

			if(res.r == 'ok'){
				window.location.href = '/';
			}

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});
	};
</script>