<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>{{titulo_page}}</title>
		{{metas}}


		<meta name="theme-color" content="{{color_primary}}">
		<meta name="application-name" content="{{site_nome}}">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="theme-color" content="{{color_primary}}">
		<meta name="format-detection" content="telephone=no">
		<meta name="manifest" content="{{domain_statics}}/manifest.json">
		<meta name="apple-mobile-web-app-title" content="{{site_nome}}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="{{color_primary}}">
		<meta name="apple-touch-startup-image" content="{{domain_statics}}/site.png">
		<meta name="msapplication-navbutton-color" content="{{color_primary}}">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="msapplication-TileColor" content="{{color_primary}}">
		<meta name="msapplication-TileImage" content="{{domain_statics}}/site.png">
		<meta name="msapplication-square310x310logo" content="{{domain_statics}}/site.png">
		<link rel="apple-touch-icon" media="all" href="{{domain_statics}}/site.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{domain_statics}}/site.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{domain_statics}}/site.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{domain_statics}}/site.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{domain_statics}}/site.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{domain_statics}}/site.png">

		<link rel="shortcut icon" href="{{domain_statics}}/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{domain_statics}}/favicon.ico" type="image/x-icon">
		<script src="{{domain_statics}}/js/dev.min.js"></script>
		<script src="{{domain_statics}}/js/site.min.js" defer="defer" async="async"></script>
		<link rel="stylesheet" media="all" type="text/css" href="{{domain_statics}}/css/icones.min.css">
		<link rel="stylesheet" href="{{domain_statics}}/css/site.min.css">
		<script src="{{domain_statics}}/js/ckeditor.min.js"></script>
	</head>
	<body>
		<main id="content">
			{{view}}
		</main>
		<div id="push-loader"></div>
		<!-- <footer>
			<h3>Contato</h3>
			<p>(54) 9 2000-6794</p>
			<p>contato@devnux.com.br</p>
			<p class="text-center">Desenvolvido por DevNux</p>
		</footer> -->
		<div id="feed_back" class="feed_back"></div>
	</body>
</html>