<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>{{titulo_page}}</title>
		{{metas}}
		<link rel="shortcut icon" href="{{domain_statics}}/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{domain_statics}}/favicon.ico" type="image/x-icon">
		<script src="{{domain_statics}}/js/dev.min.js"></script>
		<script src="{{domain_statics}}/js/site.min.js" defer="defer" async="async"></script>
		<link rel="stylesheet" media="all" type="text/css" href="{{domain_statics}}/css/icones.min.css">
		<link rel="stylesheet" href="{{domain_statics}}/css/site.min.css">
		<script src="{{domain_statics}}/js/ckeditor.min.js"></script>
	</head>
	<body>
		<main id="content">
			{{view}}
		</main>
		<div id="push-loader"></div>
		<!-- <footer>
			<h3>Contato</h3>
			<p>(54) 9 2000-6794</p>
			<p>contato@devnux.com.br</p>
			<p class="text-center">Desenvolvido por DevNux</p>
		</footer> -->
		<div id="feed_back" class="feed_back"></div>
	</body>
</html>