<div class="block width-100 pd-center-min">
	<div class="miniatura-playList">
		<div class="block width-20">
			<div class="playlist-img">
				<img src="{{tv_miniatura}}" title="{{tv_titulo}}" alt="{{tv_titulo}}" />
			</div>
		</div>
		<div class="block width-40">
			<div class="playlist-titulos">Informações no Youtube</div>
			<div class="playlist-txt">Titulo: <strong>{{tv_titulo}}</strong></div>
			<div class="playlist-txt">LINK: <strong><a href="{{tv_url}}" class="black" target="_blank">{{tv_url}}</a></strong></div>
		</div>
		<div class="block width-30">
			<div class="playlist-titulos">Informações no sistema</div>
			<div class="playlist-txt">ID:<strong>{{tv_codigo}}</strong></div>
			<div class="playlist-txt">Autor: <strong>{{vis_nome}}</strong></div>
		</div>
		<div class="block width-10">
			<button class="b {{vis_hidden}} b-primary width-100" onclick="removerMusica({{tv_codigo}})">Excluir</button>
		</div>
	</div>
</div>