<section class="content content_v content_h content_m">
	<div class="max48">
		<a href="{{controller}}/playlist" class="b b-primary"><i class="icl ic-long-arrow-left"></i> Voltar</a>
		<h1 class="text-center white">PERFIL</h1>

		<div class="img_perfil">
			<img src="{{url_avatar}}/img/visitante/{{vis_avatar}}?cache={{time}}">
		</div>
		<div class="site-space"></div>
		<div class="max10">
			<form action="{{controller}}/imagem" id="form_avatar" class="" method="post" enctype="multipart/form-data">
				<div class="boss-upload">
					<input id="input_vis_avatar" type="file" name="vis_avatar" accept="image/jpg, image/jpeg, image/png">
				</div>
				<input type="hidden" name="vis_codigo" value="{{vis_codigo}}" />
				<button id="submit_avatar" class="hidden" type="submit">ENVIAR</button>
			</form>
		</div>

		<p>
			Nome Completo
		</p>
		<div>
			<input id="vis_nome" value="{{vis_nome}}" class="formsimple-input width-100" type="text" placeholder="Informe seu nome completo" />
		</div>

		<p>
			E-mail
		</p>
		<div>
			<input id="vis_email" value="{{vis_email}}" class="formsimple-input width-100" type="text" placeholder="Informe seu e-mail" />
		</div>
		
		<div class="block width-50">
			<p>
				Celular
			</p>
			<div>
				<input id="vis_cel" value="{{vis_cel}}" class="formsimple-input width-100" type="tel" placeholder="Informe seu celular" />
			</div>
		</div>
		<div class="block width-50 pd-left">
			<p>
				Telefone
			</p>
			<div>
				<input id="vis_tel" value="{{vis_tel}}" class="formsimple-input width-100" type="tel" placeholder="Informe seu telefone" />
			</div>
		</div>

		<div class="site-space-1"></div>

		<button class="b b-primary width-100" onclick="atualizar(this)">Atualizar</button>
	</div>
</section>
<script>

	dev.add('change', input_vis_avatar, f => {
		dev.mensagem('Pera que to colocando sua foto de perfil, Aguarde...', 'blue', 10000);

		dev.delay(f => {
			dev.mensagem('É irmão .. Não consegui alterar sua foto, tente outra.', 'red');
		}, 10000);
		
		form_avatar.submit();
	});

	window.atualizar = async btn => {

		var visitante = dev.ajax('{{controller}}/perfilatualiza', {
			vis_nome: vis_nome.value,
			vis_email: vis_email.value,
			vis_cel: vis_cel.value,
			vis_tel: vis_tel.value
		});

		visitante.then(res => {

			var cor = (res.r == 'ok') ? 'blue' : 'red';

			dev.mensagem(res.data, cor);

			if(res.r == 'ok'){
				window.location.href = '{{controller}}/playlist';
			}

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});
	};
</script>