<section class="content content_v content_h content_m">
	<div class="max48">
		<h1 class="text-center">Bem-vindo a Vibe</h1>

		<div class="site-space-4"></div>

		<div class="block width-50">
			<a class="b b-primary width-100" href="{{controller}}/login" title="Caso você já tenha acesso, clique aqui para acessar sua conta.">JÁ TENHO LOGIN</a>
		</div>
		<div class="block width-50 pd-left">
			<a class="b b-danger width-100" href="{{controller}}/criar" title="Caso não tenha acesso, clique aqui para criar um cadastro.">CRIAR LOGIN</a>
		</div>
	</div>
</section>