<div class="block width-100 pd-center-min">
	<div class="miniatura-traducao">
		<div class="block width-90 align-middle">
			<div class="block width-33-3">
				<textarea class="formsimple-textarea">{{trad_br}}</textarea>
			</div>
			<div class="block width-33-3">
				<textarea class="formsimple-textarea">{{trad_it}}</textarea>
			</div>
			<div class="block width-33-3">
				<textarea class="formsimple-textarea">{{trad_en}}</textarea>
			</div>
		</div>
		<div class="block width-10 text-right mobile-text-center align-middle">
			<button class="b b-primary" onclick="alterar('{{trad_codigo}}', '{{trad_it}}', '{{trad_br}}', '{{trad_en}}')">S</button>&nbsp;
			<button class="b b-danger">E</button>
		</div>
	</div>
</div>