<section class="content content_v content_h content_m">
	<div class="max40 margin-auto">
		<input type="hidden" id="tokenAuth" value="{{token}}" />
		<h2 class="text-center">LOGIN</h2>
		<p>
			ID
		</p>
		<div>
			<input type="text" id="acc_id" name="acc_id" class="width-100"/>
		</div>
		<p>
			Senha
		</p>
		<div>
			<input type="password" id="acc_password" name="acc_password" class="width-100"/>
		</div>
		<p>
			<button class="width-100" onclick="entrar(this)">Entrar</button>
		</p>
		<p class="text-center" id="resposta"></p>
	</div>
</section>

<script>

	window.entrar = async btn => {
		
		var autentica = dev.ajax('/login/autentica', {
			acc_id: acc_id.value,
			acc_password: acc_password.value,
			tokenAuth: tokenAuth.value
		});

		autentica.then(res => {

			resposta.innerHTML = res.data;

			if(res.r == 'ok'){
				window.location.href = '/';
			}

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});
	};
</script>