<div class="block width-100 pd-center-min">
	<div class="miniatura-playList">
		<a href="/tv/editar/{{plist_codigo}}">
			<div class="block width-50">
				<div><strong>ID:</strong> {{plist_codigo}} - {{plist_status_str}}</div>
				<div><strong>Nome:</strong> {{plist_nome}}</div>
			</div>
			<div class="block width-40">
				<div><strong>Criação:</strong> {{plist_autodata_str}}</div>
				<div><strong>Alteração:</strong> {{plist_atualizacao_str}}</div>
			</div>
		</a>
		<div class="block width-10">
			<button class="b b-primary width-100" onclick="tv_excluir({{plist_codigo}})">Excluir</button>
		</div>
	</div>
</div>