<script src="https://www.youtube.com/player_api"></script>
<div class="container_iframePai">
	<div id="container_iframe" class="responsivevideo"></div>
	<div class="iframe_box" id="plist_nome">{{plist_nome}}</div>
</div>


<script>
	/* feth with videos */
	window.videos = {videos};

	window.plist_codigo = {plist_codigo};
	
	if(videos){
		window.video_current = "{tv_id}";

		window.tv_current = {tv_codigo};

		window.playlist = {playlist};

		window.timerPolling = 2000;

		var player;
		function onYouTubePlayerAPIReady() {
			player = new YT.Player('container_iframe', {
				videoId: video_current,
				events: {
					onReady: onPlayerReady,
					onStateChange: onPlayerStateChange
				}
			});
		};

		function onPlayerReady(event){
			event.target.setVolume(100);
			event.target.playVideo();
			/*player.mute();*/
		};

		function onPlayerStateChange(event) {		
			if(event.data === 0) {

				/* PROXIMA MÚSICA */
				var tv = dev.ajax('/tv/tvnext', {
					plist_codigo: plist_codigo,
					tv_codigo: tv_current,
				});

				tv.then(res => {

					/* da o 'PLAY' na proxima música */
					if(typeof(player) !== 'undefined' && typeof(player.loadVideoById) !== 'undefined'){

						tv_current = res.data.tv_codigo;
						video_current = res.data.tv_id;
						player.loadVideoById(res.data.tv_id);
					}

				}).catch(res => console.error("Ops, algo de errado não deu certo.", res));
			}
		};
	}

	window.resetControler = f => {

		var tv = dev.ajax('/tv/resetControler', {
			plist_codigo: plist_codigo,
		});

		tv.then(res => {
			console.log(res);
		}).catch(res => console.error("Ops, algo de errado não deu certo.", res));
	};

	window.getInformation = async timestamp => {

		var tv = dev.ajax('/tv/polling', {
			plist_codigo: plist_codigo,
			timestamp:timestamp
		});

		tv.then(res => {

			/* atualiza a playlist */
			playlist = JSON.parse(res.payload);

			/* ANTES DE TUDO, VERIFICA SE MUDOU A PLAYLIST */
			if(plist_codigo !== playlist.plist_codigo){
				window.location.reload();
			}

			/* Atualiza a Playlist Codigo */
			plist_codigo = playlist.plist_codigo;
			
			/* Atualiza os videos */
			videos = playlist.videos;

			/* Atualiza o video_id */
			if(typeof(getVideoData) !== 'undefined'){
				video_current = player.getVideoData().video_id;
			}


			/* _____________ CONTROLLERS _______________ */

			/* MÚSICA SEGUINTE */
			if(playlist.next == 1){
				resetControler();
				onPlayerStateChange({data: 0});
			}

			/* MÚSICA ANTERIOR */
			if(playlist.back == 1){

			}


			/* SE A PLAY LIST ESTÁ INATIVA */
			if(playlist.plist_status == 2){
				/* window.close(); */

				if(typeof(player) !== 'undefined' && typeof(player.stopVideo) !== 'undefined'){
					player.stopVideo();
				}

			}

			if(playlist.plist_status == 1){

				if(typeof(player) !== 'undefined' && typeof(player.getPlayerState) !== 'undefined'){
					
					if(player.getPlayerState() == 5){
						onPlayerStateChange({data: 0});
					}
				}
			}


			/* SE A MÚSICA QUE ETÁ TOCANDO, NÃO EXISTE MAIS PORQUE FOI EXCLUIDA.. */
			var flag = false;
			for(var x in videos){
				if(videos[x]['tv_id'] == video_current){
					flag = true;
					video_current = videos[x]['tv_id'];
				}
			}

			/* PROXIMA MÚSICA, PORQUE A QUE ESTÁ NÃO ESTÁ DISPONIVEL, TALVES TENHA DIREITOS AUTORAIS */
			if(typeof(player) !== 'undefined' && typeof(player.getPlayerState) !== 'undefined'){
				if(player.getPlayerState() == -1){
					onPlayerStateChange({data: 0});
				}
			}


			/* PROXIMA MUSICA, PORQUE A QUE ESTÁ TOCANDO NÃO EXISTE MAIS.*/
			if(flag == false){
				onPlayerStateChange({data: 0});
			}

			/* _____________ INTERFACE VIDEO ______________ */

			/* Atualiza o nome da playlist, SE MUDOU */
			if(plist_nome.textContent !== playlist.plist_nome){

				plist_nome.innerHTML = playlist.plist_nome;
				document.title = 'Playlist - ' + playlist.plist_nome;
			}

			dev.delay( f => getInformation(res.payload), timerPolling);

		}).catch(res => console.error("Ops, algo de errado não deu certo.", res));
	};

	(() => {
		getInformation();
	})();
</script>