<section class="content content_v content_h content_m">

	<a href="/{{controlador}}" class="b b-primary">Voltar</a>
	<h3>ID: {{plist_codigo}} - <a href="/{{controlador}}/editar/{{plist_codigo}}" class="b b-primary">Editar</a></h3>
	<h3><button class="b b-primary" onclick="tocar(this)">ABRIR TV</button></h3>
	<h3>Playlist - {{plist_nome}}</h3>
	<hr />

	<h1 class="text-center upper">MÚSICAS</h1>
	<button class="b b-primary" onclick="proximaMusica(this)">NEXT MUSICA</button>


	<h4 class="formulario-titulo c-black">Adicionar uma música à playlist</h4>

	<div class="block width-80">
		<input id="tv_url" class="formsimple-input width-100 c-black" type="text" placeholder="Informe o link do vídeo" />
	</div>
	<div class="block width-20 pd-left-min">
		<button class="b b-primary width-100" onclick="novaMusica(this);">Adicionar Música</button>
	</div>

	<h4>Todas as músicas - ({{qnt-musicas}})</h4>

	{{musicas_playlist}}


</section>

<script>
	
	window.proximaMusica = async btn => {

		var tv = dev.ajax('/tv/nextSong', {
			plist_codigo:{{plist_codigo}}
		});
		tv.then(res => {

			var cor = (res.r == 'ok') ? 'blue' : 'red';

			dev.mensagem(res.data);

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});

	};

	window.tocar = async btn => {

		var tv = dev.ajax('/tv/tocar', {
			plist_codigo:{{plist_codigo}}
		});
		tv.then(res => {

			var cor = (res.r == 'ok') ? 'blue' : 'red';

			dev.mensagem(res.data);

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});

	};

	window.novaMusica = async btn => {

		var tv = dev.ajax('/tv/addmusica', {
			tv_url: tv_url.value,
			acao: 2,
			plist_codigo: {{plist_codigo}},
		});

		tv.then(res => {

			var cor = (res.r == 'ok') ? 'blue' : 'red';

			dev.mensagem(res.data, cor);

			if(res.r == 'ok'){
				goXHR('/tv/ver/{{plist_codigo}}', xhrfn, lockChangePageFn);
			}

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});
	};

	window.removerMusica = async tv_codigo => {

		var tv = dev.ajax('/tv/removermusica', {
			tv_codigo: tv_codigo,
		});

		tv.then(res => {

			dev.mensagem(res.data);

			if(res.r == 'ok'){
				goXHR('/tv/ver/{{plist_codigo}}', xhrfn, lockChangePageFn);
			}

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});
	};


</script>