<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>{{titulo_page}}</title>
		{{metas}}
		<script src="{{domain_statics}}/js/dev.min.js"></script>
		<script src="{{domain_statics}}/js/site.min.js" defer="defer" async="async"></script>
		<link rel="stylesheet" href="{{domain_statics}}/css/site.min.css">
	</head>
	<body>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<H1>AQUI, É O LAYOUT DO CHOLA MAIS!</H1>
		<main id="content">
			{{view}}
		</main>
		<div id="push-loader"></div>
		<footer>
			<h3>Contato</h3>
			<p>(54) 9 2000-6794</p>
			<p>contato@devnux.com.br</p>
			<p class="text-center">Desenvolvido por DevNux</p>
		</footer>
	</body>
</html>