<section class="content content_v content_h content_m">
	<h1 class="text-center">Configurações</h1>


	<h2>Informações</h2>
	<div class="block width-50 pd-right-min">
		<h4 class="formulario-titulo">Nome</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Nome da empresa" />
	</div>
	<div class="block width-50 pd-left-min">
		<h4 class="formulario-titulo">CNPJ</h4>
		<input class="formsimple-input width-100" type="text" placeholder="CNPJ da empresa" />
	</div>
	<div class="site-space-1"></div>
	<h2>Endereço</h2>
	<div class="block width-50 pd-right-min">
		<h4 class="formulario-titulo">Cidade</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Cidade da empresa" />
	</div>
	<div class="block width-50 pd-left-min">
		<h4 class="formulario-titulo">CEP</h4>
		<input class="formsimple-input width-100" type="text" placeholder="CEP" />
	</div>
	<div class="block width-50 pd-right-min">
		<h4 class="formulario-titulo">Endereço</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Endereço" />
	</div>
	<div class="block width-50 pd-left-min">
		<h4 class="formulario-titulo">Bairro</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Bairro" />
	</div>
	<div class="site-space-1"></div>
	<h2>Contato</h2>
	<div class="block width-50 pd-right-min">
		<h4 class="formulario-titulo">Whatsapp</h4>
		<input class="formsimple-input width-100" type="tel" placeholder="Whatsapp" />
	</div>
	<div class="block width-50 pd-left-min">
		<h4 class="formulario-titulo">Telefone</h4>
		<input class="formsimple-input width-100" type="tel" placeholder="Telefone" />
	</div>
	<div class="block width-50 pd-right-min">
		<h4 class="formulario-titulo">Celular</h4>
		<input class="formsimple-input width-100" type="tel" placeholder="Celular" />
	</div>
	<div class="block width-50 pd-left-min">
		<h4 class="formulario-titulo">E-mail</h4>
		<input class="formsimple-input width-100" type="email" placeholder="E-mail" />
	</div>
	<div class="site-space-1"></div>
	<h2>Rede Sociais</h2>
	<div class="block width-50 pd-right-min">
		<h4 class="formulario-titulo">Facebook</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Facebook" />
	</div>
	<div class="block width-50 pd-left-min">
		<h4 class="formulario-titulo">Instagram</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Instagram" />
	</div>
	<div class="block width-50 pd-right-min">
		<h4 class="formulario-titulo">Linkedin</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Linkedin" />
	</div>
	<div class="block width-50 pd-left-min">
		<h4 class="formulario-titulo">Twitter</h4>
		<input class="formsimple-input width-100" type="text" placeholder="Twitter" />
	</div>
	
</section>