<section>
	<div>
		<p id="resposta"></p>
	</div>
	<div>
		ID
	</div>
	<div>
		<input type="text" name="id" />
	</div>
	<div>
		Senha
	</div>
	<div>
		<input type="password" name="senha" />
	</div>
	<div>
		<button onclick="entrar(this)">Entrar</button>
	</div>
</section>

<script>

	window.entrar = async btn => {
		
		var autentica = dev.ajax('/admin/autentica', {
			id: 'id_qojwdojq',
			senha: 'senha..qdowjdojq'
		});

		autentica.then(res => {

			resposta.innerHTML = res.data;

			if(res.r == 'ok'){
				window.location.href = '/admin';
			}

		}).catch(res => {
			console.error("Ops, algo de errado não deu certo.", res);
		});
	};
</script>