<section class="content content_v content_h content_m">
    <h1 class="text-center">Bem Vindo ao Administrativo</h1>

    <h2 class="text-center">CRM</h2>
</section>
        <!--   var config = {
            apiKey: "AIzaSyB-z-K2rqPrZbwEj5QZidPYFJgnL5CmCGU",
            authDomain: "devnux.firebaseapp.com",
            databaseURL: "https://devnux.firebaseio.com",
            projectId: "devnux",
            storageBucket: "devnux.appspot.com",
            messagingSenderId: "929739554366"
          }; -->