<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title>{{titulo_page}}</title>
		{{metas}}
		<script src="/js/dev.min.js"></script>
		<script src="/js/site.min.js" defer="defer" async="async"></script>
		<link rel="stylesheet" href="/css/site.min.css">
	</head>
	<body>
		<nav class="content-navigation content_m content_h content">
			<ul class="navigation">
				<a href="/"><li>INÍCIO</li></a>
				<a href="/admin/publicacao"><li>PUBLICAÇÃO</li></a>
			</ul>
		</nav>
		<main id="content">
			{{view}}
		</main>
		<div id="push-loader"></div>
		<footer>
			<h3>Contato</h3>
			<p>(54) 9 2000-6794</p>
			<p>contato@devnux.com.br</p>
			<p class="text-center">Desenvolvido por DevNux</p>
		</footer>
	</body>
</html>