<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Title</title>
        {{metas}}
    </head>
    <body>
        <header><p>Aqui é o Cabeçalho</p></header>
        <nav>
            <a href="/">INÍCIO</a>
            <a href="/teste">TESTE</a>
            <a href="/teste/otheraction">TESTE OTHER</a>
            <a href="/contato">CONTATO</a>
        </nav>
        <main>
            {{view}}
        </main>
        <footer>
            <p>Aqui é o rodapé</p>
        </footer>
    </body>
</html>